<div class="container" style="margin-top:50px;">
    <div class="row">
        <p class="text-end">Hola {{persona}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion <i
                    class="fas fa-sign-out-alt"></i></a></p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Contanos tus experiencia siguiendo los planes de #SofiaNutrición y comparti tu foto de alguna receta que
                hayas hecho!</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hiden="true"></i>
                Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" style="width: 150px;">Nombre</th>
                        <th scope="col" style="width: 700px;">Testimonio</th>
                        <th scope="col">Recetas</th>
                        <th class="text-end" style="width: 150px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{nombre}}</th>
                        <td>{{testimonio}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>